@utility direction-reverse {
  animation-direction: reverse;
}

@utility direction-alternate {
  animation-direction: alternate;
}

@utility direction-alternate-reverse {
  animation-direction: alternate-reverse;
}
